body{
    font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN"; font-weight: bold;
}
header{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.header-container {
    display: flex;
    align-items: center;
    width: 900px; 
    margin: 0 auto; 
    position: relative; 
}
.header-container button {
    border: none;
    background: transparent;
}
.header-container h2 {
    flex-grow: 0; 
    text-align: center; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}
#prevButton {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
}
#nextButton {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
    margin: 20px;
}
.canvas{
    margin: 10px;
    text-align: center;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-item {
    position: absolute;
    cursor: grab;
    opacity: 1;
    transition: opacity 0.2s;
}
.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 20px; 
}
button {
    margin: 3px;
    padding: 3px;
    display: block;
    background-color:#778899;
    height: 50px;
    width: 250px;
    border: none;
    transition: transform 0.2s;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}
button:hover {
    transform: scale(1.05);
}

.button-group {
    display: none;
}
.button-group.active {
    display: block;
}

.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* 最前面に表示 */
}

.content {
    background: #fff;
    padding: 30px;
    width: 50%;
    z-index: 10000; /* 最前面に表示 */
}


.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; 
}
.sliders {
    text-align: center;
    margin: 10px;
}

.button1 {
    margin: 3px;
    padding: 3px;
    display: inline-block; 
    background-color: white;
    height: 30px;
    width: 500px;
    border: none;
    transition: background-color 0.2s; 
    align-items: center;
    color: lightslategray;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    line-height: 30px; 
}

.button1:hover {
    transform: scale(1.05);
}

.canvas-container {
    position: relative;
    margin: 0px;
    text-align: center;
}

.button-group {
    display: none;
    flex-direction: row;
    gap: 5px;
}

.button-group.active {
    display: flex;
}

       
#switch1, #switch2, #switch3 {
    margin-top: 5px;
    width: 250px;
    height: 50px;
    background: url('images/off.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
      #switch1:hover{
          opacity: 0.7;
        }

      #switch2:hover{
          opacity: 0.7;
        }

       #switch3:hover{
            opacity: 0.7;
        }

       #switch1.change {
            background: url('images/on.png') no-repeat;
            background-size: 100% 100%;
        }
       #switch2.change {
            background: url('images/on.png') no-repeat;
            background-size: 100% 100%;
        }
        #switch3.change {
            background: url('images/on.png') no-repeat;
            background-size: 100% 100%;
        }

        #light1 {
            width: 50px;
            height: 50px;
            background: url(images/musi.png) no-repeat;
            background-size: 100% 100%;
        }

        #light2 {
            width: 50px;
            height: 50px;
            background: url(images/tori.png) no-repeat;
            background-size: 100% 100%;
        }

        #light3 {
            width: 50px;
            height: 50px;
            background: url(images/sakana.png) no-repeat;
            background-size: 100% 100%;
        }

        #light1.on_light {
            background: url(images/musi.gif) no-repeat;
            background-size: 100% 100%;
        }

        #light2.on_light {
            background: url(images/tori.gif) no-repeat;
            background-size: 100% 100%;
        }

        #light3.on_light {
            background: url(images/sakana.gif) no-repeat;
            background-size: 100% 100%
        }

/*雲のアニメーション*/
#sky {
    width: 800px; 
    height: 200px;
    background-color: transparent; 
    position: relative; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    overflow: hidden;
}

#sky img {
    position: absolute;
    width: 150px;
    height: 90px;
    margin: auto;
}

.control-buttons {
    margin-top: 10px;
    text-align: center;
}

/* 雨のアニメーション */
#rain_block {
    position: absolute;
    top: 0;
    left: 50%;
    width: 800px;
    height: 400px;
    transform: translateX(-50%);
    pointer-events: none;
    overflow: hidden;
    background-color: transparent;
}

.rain_parts_box {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.rain_parts_box img {
    position: absolute;
    width: 13px;
    opacity: 0;
}

@keyframes rain {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(600px);
    }
}

.rain_parts_box.animate img {
    animation: rain linear 6s forwards; 
}

#ukanmuri {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('images/ukanmuri.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

#ukanmuri.visible {
    opacity: 1;
}

footer{
    position: relative;
    margin: 10px;
    text-align: center;
}



