body{
    font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN"; font-weight: bold;
}

header{
    padding: 1em;
    font-size: 30px;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Add this line to enable wrapping */
    justify-content: space-around; /* or space-between, space-evenly */
    align-items: center;
    margin: 20px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20%;
}
.box2 {
    width: 250px;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#yama, #kawa {
    position: absolute;
}

footer{
    padding: 1em;
    text-align: center;
}
.canvas{
    margin: 10px;
    text-align: center;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-item {
    position: absolute;
    cursor: grab;
    opacity: 1;
    transition: opacity 0.2s; /* 画像の薄さをスムーズに変更 */
}
.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* ボタンとスライダーの間隔を設定 */
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 20px; /* ボタンの間隔を設定 */
}
button {
    display: block;
    background-color:red;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    transition: transform 0.2s;
}
button:hover {
    transform: scale(1.1);
}

.button-group {
    display: none;
}
.button-group.active {
    display: block;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* 各スライダーグループの間隔を設定 */
}
.sliders {
    text-align: center;
}

