body{
    background-image: url(image/back.jpg);
}

header{
    padding: 1em;
    font-size: 30px;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Add this line to enable wrapping */
    justify-content: space-around; /* or space-between, space-evenly */
    align-items: center;
    margin: 20px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20%;
}
.box2 {
    width: 250px;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.canvas {
    width: 98%;
    height: 400px;
    background-color: white;
    margin: 10px;
    position: relative;
}

#yama, #kawa {
    position: absolute;
}

footer{
    padding: 1em;
    text-align: center;
}